body {
  margin: 0;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
  color: white;
}
/* nav */
nav {
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  margin-right: 10px;
}
.nav-item {
  padding: 28px 17px;
  font-weight: 700;
}
a:hover {
  color: #1ed760;
}

/* main */
main {
  height: 960px;
  background-color: rgb(41, 65, 171);
  background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
  background-size: 175%;
  background-position: 46% 4%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .main-container {
  border: 1px solid red;
} */
.headline {
  color: #1ed760;
  font-size: 156px;
  font-weight: 900;
  position: relative;
  left: 200px;
  padding-bottom: 40px;
}
.headline-first {
  position: relative;
  left: -2.5em;
}
.sub-headline {
  color: #1ed760;
  text-align: center;
  font-size: 18px;
  padding-bottom: 40px;
}
.button-area {
   text-align: center;
}
.button-style {
  background-color: #1ed760;
  border: none;
  color: rgb(41, 65, 171);
  font-size: 16px;
  font-weight: 700;
  padding: 14px 32px;
  border-radius: 500px;
}
.button-style:hover {
  transform: scale(1.2);
  transition: .3s;
  cursor: pointer;
}


/* footer */
footer {
  height: 530px;
  background-color: black;
  display: flex;
  justify-content: center;
  
}
.footer-container {
  max-width: 1170px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  padding: 80px 0 50px 0;
}
.first-box {
  width: 60%;
  display: flex;
  justify-content: space-between;
}
.first-box img {
  margin: 20px 0;
}
.first-box .title {
  margin: 20px 0;
  font-weight: 900;
  color: #919496;
}
ul {
  list-style-type: none;
}
li {
  margin: 10px 0;
}
li:hover {
  color: #1ed760;
  cursor: pointer;
}

.second-box {
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin: 20px 0;
}
.circle-box {
  background-color: #222322;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-brands {
  font-size: 24px;
}
.fa-brands:hover {
  color: #2de26d;
}

.country {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.fa-solid {
  color: white;
}

.policy {
  display: flex;
}
.list {
  display: flex;
  justify-content: space-between;
  color: white;
  display: flex;
  width: 80%;
}
.created {
  width: 20%;
  text-align: right;
  margin-top: 16px;
  margin-right: 15px;
}